.wr{
    height: auto;
    margin: auto;
}
.header{
    background-color: #000000;
    height: 100px;
    width: 100%;
}
.nav-bar{
    height: 100px;
    width: 1200px;
    margin: auto;
}
.logo{
    width: 600px;
    height: 100px;
    float: left;
}
.menu{
    width: 600px;
    height: 100px;
    float: right;
}
.img-f{
    margin-left: 40px;
}
.menu{
    width: 600px;
    height: 100px;
    float: right;
}
.menu ul li{
    float: left;
    margin-right: 30px;
    list-style: none;
    line-height: 60px;
    color: white;
    width: 50px;
    text-decoration: none;
}
